{% extends "admin.html" %}
{% load static %}
{% block content %}

<style>
  .top{
    margin-top: -15px;
  }form{
    background-color: #d9e8f5;
  }
</style>

<div class="container-xxl flex-grow-1 container-p-y ms-5 ">
    <div class="row">
      <div class="col-lg-9 mb-4 order-1">
        <div class="row g-3 ms-1 mt-2" style="background-color: rgb(214 196 196);">
          <div class="col-5 ms-3">
            <h3>Payment list</h3><div class="top"><div class="py-1">Choose the date</div></div>
          </div>
        </div>
        <form class="row g-3 ms-1 mt-2" method="post" onsubmit="" action="">
          {% csrf_token %}
          <div class="ms-5 mt-4">
          <div class="col-auto ms-5">
            <label><h5>payment Date :</h5></label>
          </div>
          <div class="col-auto ms-5">
            <select class="form-select w-50 ms-5" aria-label="Default select example">
              <option selected>---select---</option>
              <option value="1">2018-05-15</option>
              <option value="2">2021-04-03</option>
              <option value="3">2021-04-05</option>
            </select>
            <div class="mt-3 ms-5 py-3">
            <button class="btn btn-success btn-sm " type="submit">Submit</button>
            <a href="{% url 'paymentlist' %}" class="btn btn-danger btn-sm ms-3" type="reset">Submit</a></div>
          </div></div>
        </form>
      </div>
    </div>
</div>


{% endblock %}