</tr>
{% endfor %}							
  </tbody>
</table>
</section>
</div><!-- /content-panel -->
</div><!-- /col-lg-4 -->		   
</div><!-- /row -->
</section>
</section>


{% endblock %}{% extends "staffhome.html" %}
{% load static %}
{% block content %}

<section id="main-content" style="min-height: 93vh">
<section class="wrapper">
<h3>Payment History </h3>
<div class="row mt">
<div class="col-lg-10">
<div class="content-panel" style="padding: 10px">
 
<section id="unseen">
  <table class="table table-bordered table-striped table-condensed" style="width:100%">
    <thead>
    <tr>
    <th>Sl:No</th>
    <th> User Name</th>
     <th>Address</th>
     <th>Phone</th>
    <th>From Date</th>
    <th>To date</th>
    <th>Job description</th>
    <th>Amount</th>
    <!--<th>Action</th>-->
    </tr>
</thead>
<tbody>

    {% for d in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{d.customer.user_name}}
            </td>
          <td>{{d.customer.phone_no}}</td>
            <td>{{d.customer.Email}}</td>
      
        <td>{{d.amount}}</td>
      








                              </td>

</div>

    </tr>
{% endfor %}							
  </tbody>
</table>
</section>
</div><!-- /content-panel -->
</div><!-- /col-lg-4 -->		   
</div><!-- /row -->
</section>
</section>


{% endblock %}